
body{
  background-color: white;
}

.dark-mode{
  background-color: rgb(40, 41, 46);
}

.player-cards {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    margin: 1%;
}

.card {
  padding: 50px;
}

.card-body {
  background: rgb(251, 216, 155);
  border: 2px white solid ;
  padding: 20px;
  border-radius: 10px
}

.card-body h1 {
  font-size: 25px;
}

.card-body ul {
 text-align: left;
 font-size: 18px;
}

.card-body li {
  margin: 10% 0;
}